/* selector{
property value:value
} */
#abc
#box{
    border: 1px solid green;
   background-color: aqua;
   padding: 20px;
   margin: 10px 100px 200px 50px; 
}

#uriel{
    color: blueviolet;

}
#about{
    color: blue;
}
.cursor{
    color: red;
    font-family: sans-serif;
}

