body{
    font-family: sans-serif;
    background-color: whitesmoke;
    margin: 0;
}




header{
    background-color: aquamarine;
    padding: 15px 0px;
}
nav{
    text-align: center;
}
nav ul{
 list-style-type: none;
}
nav li{
    display: inline;
    margin-right: 15px;
}
nav a{
    text-decoration: none;
    color: blue;
}
nav a:hover{
    background-color: red;
    padding: 10px;
}
#hero{
    background-image: url('../images/landscape.png');
    background-size: cover;
    background-position: center;
    padding: 0.2px 1px;
    text-align: center;
    color: purple;
   height: 250px; 

}
#hero h1{
    font-size: 54px;
}
#hero p{
    font-size: 10px;
    color: blue;
}
#hero a{
    background-color: aquamarine;
    padding: 15px;
    border-radius: 15px;
    font-weight: bold;
    color: black;
}
main{
width: 90%;
margin: 30px auto;
}
section{
    background-color:white ;
    box-shadow: 0px 2px 5px;
    padding: 20px;
    margin-bottom: 20px;
}
#about h2{
    color: aquamarine;
}
#allservices{
    display: flex;
    gap: 20px;

}
.service{
    border: 1px solid grey;
    border-radius: 5px;
    flex: 1 1 250px;
    text-align: center;
    background-color: lightgray;
}
.service img{
    width: 100%;
    height: 150px;
    object-fit: cover;
}
#contact{
    max-width: 500px;
    margin: 40px auto;
}
form label{
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}
form input , 
form textarea{
    width:100%;
    border: 1px solid plum;
    border-radius: px;
    

} 